/* === ZONA DE JUEGO === */
.lapiceros-zona-juego {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.objetivo-container {
    text-align: center;
    margin:1rem;
}

.objetivo-numero {
    font-size: clamp(1.5rem, 10vw, 3rem);
    font-weight: 700;
    color: var(--primary);
}

.texto-lapiceros{
    color: var(--text-color);
    font-weight: 600;
}

/*--- LISTA DE LAPICES --- */
.lapiceros-lista {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
    max-width: 800px;
    min-height: 0;
}

.lapicero-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: clamp(var(--spacing-md),2vh, var(--spacing-lg) );
    background-color: var(--bg-color); 
    border: 2px solid var(--card-border);
    border-radius: 0.75rem;
    transition: opacity 0.3s ease;
}

.lapicero-item.deshabilitado {
    opacity: 0.4;
    pointer-events: none;
}

.lapicero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
}

.lapicero-icono {
    font-size: 5rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lapicero-icono.estuche {
    font-size: 8rem;
}

.lapicero-icono.caja {
    font-size: 10rem;
}

.lapicero-texto {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-transform: capitalize;
}


/*--------------------------------TABLET-(y en adelante)--------------------------------*/

@media (min-width: 768px) {

    .lapiceros-lista {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
        width: 100%;
        max-width: 800px;
    }

    .lapicero-item {
        padding: var(--spacing-xl);
    }

    /* .lapicero-icono {
        font-size: 6rem;
        color: var(--text-color);
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .lapicero-texto {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--text-color);
        text-transform: capitalize;
    }

}

/*--------------------------------ESCRITORIO-(y en adelante)--------------------------------*/

@media (min-width: 1024px) {

    /* AHORA SOLO SALTA EN PANTALLAS GRANDES */
    .lapiceros-lista {
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
    }

    .lapicero-item {
        flex-direction: column;
        flex: 1;
        padding: var(--spacing-lg);
        gap: var(--spacing-lg);
    }

    .lapicero-info {
        width: auto;
        /* Obligamos a que todos los contenedores midan exactamente lo mismo de alto */
        height: 11rem; 
        /* Centramos el contenido (sea un icono de 10rem, uno de 5rem o puro texto) en el medio exacto */
        display: flex;
        justify-content: center;
        align-items: center;
    }

}