* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta de colores */
:root {
  --primary: #32DE84;
  --bg-color: #f0fdf4;
  --text-color: #1f2937;
  --text-dark: #1f2937;
  --card-border: #000000;
}

.dark-mode {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --icon-color: #f9fafb;
}

.color-mode {
  --icon-color: #3486d3;
}

html,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.svg-icon {
  /* color variable segun el tema */
  color: var(--icon-color);
  width: 1em;  
  height: 1em;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 100vw; */
}

.navbar {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  height: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0; /*Que no se encoja*/
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.content-area {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.cards-grid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;

  /* Diseñamos en movil primero */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.card {
  background: white;
  border: 2px solid var(--card-border);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--primary);
  color: var(--bg-color);
  border-color: var(--primary);
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.brand-icon{
    font-size: 2.5rem;
    margin-right:0.5rem;
}

.card-title {
  font-weight: normal;
  font-size: 1.1rem;
}

/* ocultamos el footer por defecto */
.footer-desktop {
  display: none;
}

/*Tablet*/
@media (min-width: 768px) {
  .cards-grid {
    /* Cambiamos a 2 columnas iguales */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 2rem;
  }

  .card-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}
}

/*Escritorio*/
@media (min-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 Columnas */
    grid-template-rows: repeat(2, 1fr);    /* 2 Filas iguales */
    gap: 2rem;
    padding: 2rem; /* espacio para mantener margenes */
  }

  .card-icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

  .nav-links-desktop {
    display: flex;
    gap: 1.5rem;
  }

  .nav-links-desktop a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }

  .nav-icons-mobile {
    display: none;
  }
}


/*movil retocar*/
@media (max-width: 1023px) {
  .nav-links-desktop {
    display: none;
  }
}